/* color variables  */
$w_white: #ffffff;
$w_black: #000000;
$w_bg: #f5f6fa;

/* font color */
$w_title: #1c1f27;
$w_font: #383e4e;

/* Responsive View variables - Breakpoints for Media Query */
$smallMobile: 320px;
$mobileSmall: 375px;
$mobile: 481px;
$mobileLarge: 576px;
$ipad: 768px;
$large: 991px;
$extraLarge: 1200px;
$desktop: 1366px;
$desktopLarge: 1430px;
$desktopXLarge: 1600px;
$desktopXXLarge: 1800px;

